@{
    ViewBag.Title = "欢迎";
}

<blockquote>
    <p><a href="/order/"><i class="fa fa-list"></i> 我的订单</a></p>
    <small>查看我的订单记录</small>
</blockquote>

<blockquote>
    <p><a href="/order/edit"><i class="fa fa-get-pocket"></i> 立即订货</a></p>
    <small></small>
</blockquote>

<blockquote>
    <p><a href="/product/"><i class="fa fa-area-chart"></i> 产品报价</a></p>
    <small>查看所有的产品型号、价格</small>
</blockquote>