@using LoowooTech.SCM.Model;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title + " - 供应链管理系统")</title>
    <link rel="stylesheet" href="~/content/bootstrap.css" media="screen">
    <link rel="stylesheet" href="~/content/main.css" media="screen">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/jquery.autocomplete.css" />

    <script src="~/scripts/jquery-1.9.1.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/scripts/common.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">供应链管理系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                    <li class=""><a href="/Enterprise/?Business=@Business.Supplier"><i class="glyphicon glyphicon-cog"></i>供应商</a></li>
                    <li class=""><a href="/Component/"><i class="glyphicon glyphicon-wrench"></i>部件型号</a></li>
                    <li class=""><a href="/Order/"><i class="glyphicon glyphicon-log-in"></i>部件进货</a></li>
                    <li class=""><a href="/Manufacture/"><i class="glyphicon glyphicon-plane"></i>产品型号</a></li>
                    <li class=""><a href="/Enterprise/?Business=@Business.Seller"><i class="glyphicon glyphicon-shopping-cart"></i>经销商</a></li>
                    <li class=""><a href="/Stock/?Type=@(OrderType.Shipment)"><i class="glyphicon glyphicon-gift"></i>经销商订货</a></li>
                    <li class=""><a href="#"><i class="glyphicon glyphicon-hdd"></i>库存</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default" id="main-panel" style="margin-top:15px;">
            <div class="panel-heading">
                <h3 class="panel-title">@(ViewBag.Title)</h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
        <footer style="clear: both; overflow: hidden;">
            <div class="row">
                <div class="col-lg-12">
                    &copy;2015 版权所有  技术支持电话：18758326914
                </div>
            </div>
        </footer>
    </div>
    <div id="modal" class="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $(".btn-delete").click(function () {
                return confirm("你确认要删除这条信息吗？");
            });
        })
    </script>
</body>
</html>
