@using LoowooTech.SCM.Model
@using LoowooTech.SCM.Common
@{
    Dictionary<int, string> dict = ViewBag.List;
}

<form class="form-inline" action="/AddressList/Add" method="post" style="float:right">
    <div class="input-group">
        <div class="input-group-btn">
            <select name="ID" class="form-control">
                @foreach (var item in dict.Keys)
                {
                    <option value="@item">@(dict[item])</option>
                }
            </select>
            <select name="way" class="form-control">
                @foreach (ContactWay way in Enum.GetValues(typeof(ContactWay)))
                {
                    var value = (int)way;
                    <option value="@value">@(way.GetDescription())</option>
                }
            </select>
            <input type="text" name="value" class="form-control" />
            <button type="submit" class="btn btn-sm btn-primary form-control"><i class="glyphicon glyphicon-plus"></i> 添加联系方式</button>
        </div>
        
    </div>
</form>