@{
    ViewBag.Title = "经销商订货";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LoowooTech.SCM.Model.Enterprise enterprise = ViewBag.Enterprise;
    List<LoowooTech.SCM.Model.Product> list = ViewBag.List;
}
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    经销商——<strong>@(enterprise.Name)</strong>订货
</div>


<form class="form-horizontal" method="post" action="">
    <table class="table table-bordered">
        <tr>
            
            <th>产品型号</th>
            <th>数量</th>
            <th>成交单价</th>
            <th><a href="#" class="text-success" id="Add"><i class="glyphicon glyphicon-plus"></i></a></th>
        </tr>
        <tr>
            
            <td>
                <select name="PID" class="form-control">
                    @foreach (var item in list)
                    {
                        <option value="@(item.ID)">@(item.Number) ￥@(Math.Round(item.Price,4))</option>
                    }
                </select>
            </td>
            <td>
                <input type="text" name="Number" class="form-control" />
            </td>
            <td>
                <input type="text" name="Price" class="form-control" />
            </td>
            <td></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-info" style="float:right;"><i class="glyphicon glyphicon-ok"></i>确定</button>
</form>

<script>
    $(function () {
        $("#Add").click(function () {
            var $tr = "<tr>" + $("table tr:last-child").html() + "</tr>";
            $("table").append($tr);
        });
    })
</script>
