@{
    ViewBag.Title = "联系记录-部件进货";
    Enterprise enterprise = ViewBag.Enterprise;
    List<Contact> contacts = ViewBag.Contacts;
}
<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    你当前选择从供应商——<strong>@(enterprise.Name)</strong> 部件进货
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user"></i>供应商</h4>
    </div>
    <div class="panel-body">
        <form id="form-contact" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-3">选择联系人</label>
                <div class="col-lg-6">
                    <select name="ContactId">
                        @foreach (var item in contacts)
                        {
                            <option value="@(item.ID)">@(item.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">联系时间</label>
                <div class="col-lg-6">
                    <input type="text" name="ContactTime" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">内容备注</label>
                <div class="col-lg-6">
                    <textarea rows="3" name="Note"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
