@model IEnumerable<loowootech.SCM.Model.Order>
@{
    ViewBag.Title = "部件进货清单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serialNumber = 1;
}

<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>供应商</th>
        <th>时间</th>
        <th>合同</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(serialNumber++)</td>
            <td>@(item.Enterprise.Name)</td>
            <td>@(item.Time)</td>
            <td>@(item.Indenture)</td>
        </tr>
    }
</table>
