@model loowootech.SCM.Model.Order
@{
    ViewBag.Title = "物流管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert ">

</div>

<a href="" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>确认收货</a>
