@{
    ViewBag.Title = "部件进货";
    Enterprise enterprise = ViewBag.Enterprise;
    List<Component> list = ViewBag.Components;
    var autocompletedData = list.Select(e => new
    {
        label = e.Brand + "-" + e.Type.GetDescription() + "-" + e.Specification + "-" + e.Number,
        value = e.ID
    });
    var dataJson = Newtonsoft.Json.JsonConvert.SerializeObject(autocompletedData);
}

<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    你当前选择从供应商——<strong>@(enterprise.Name)</strong> 部件进货
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="glyphicon glyphicon-shopping-cart"></i>进货车</h4>
    </div>
    <div class="panel-body">
        <form id="form-add" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-3">部件名称</label>
                <div class="col-lg-6">
                    <input type="hidden" name="ComponentId" id="txtComponentId" />
                    <input type="text" id="txtComponent" name="Component" class="form-control" autocomplete="off" />
                </div>

            </div>
            <div class="form-group">
                <label for="Price" class="control-label col-lg-3">单价</label>
                <div class="col-lg-6">
                    <input type="text" name="Price" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Number" class="control-label col-lg-3">数量</label>
                <div class="col-lg-6">
                    <input type="text" name="Number" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button type="submit" class="btn btn-success" id="btn-add"><i class="glyphicon glyphicon-plus"></i>加入进货清单</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="panel panel-success">
    <div class="panel panel-heading">
        <h3 class="panel-title">进货清单</h3>
    </div>
    <div class="panel-body">
        <form id="form-list" action="/Stock/Add" method="post" class="form-horizontal">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>部件</th>
                            <th style="width:100px;">单价</th>
                            <th style="width:100px;">数量</th>
                            <th style="width:80px;">移除</th>
                        </tr>
                    </thead>
                    <tbody id="table-list"></tbody>
                </table>
                <input type="text" name="enterpriseId" value="@(enterprise.ID)" style="display:none" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-primary" style="float:right;margin-right:20px"><i class="glyphicon glyphicon-floppy-open"></i> 提交订单</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#form-add").submit(function(){
            var data  = $("#form-add").serializeObject();
            var $str = "<tr><td>"+
                "<input type='hidden' name='ComponentId' value='"+data.ComponentId+"' />"+
                "<input type='text' name='Component' class='form-control' value='" + data.Component + "' /></td>"+
                "<td><input type='text' name='Price' class='form-control' value='" + data.Price + "'/></td>"+
                "<td><input type='text' name='Number' class='form-control' value='" + data.Number + "'/></td>"+
                "<td><a href='#delete' class='btn btn-danger btn-xs btn-delete'><i class='fa fa-remove'></i></a></td>"+
                "</tr>";
            $("#table-list").append($str);
            $("#table-list .btn-delete").unbind("click").bind("click", function () {
                var tr = $(this).parents("tr");
                tr.remove();
            });
            return false;
        });

        $("#txtComponent").AutoComplete({
            data: @Html.Raw(dataJson),
            width: 'auto',
            itemHeight:30,
            afterSelectedHandler:function(data){
                $("#txtComponent").val(data.label);
                $("#txtComponentId").val(data.value);
            },
            'onerror': function (msg) { alert(msg); },
        });
    })
</script>