@using loowootech.SCM.Common
@{
    ViewBag.Title = "部件进货";
    Layout = "~/Views/Shared/_Layout.cshtml";
    loowootech.SCM.Model.Enterprise enterprise = ViewBag.Enterprise;
    List<loowootech.SCM.Model.Components> list = ViewBag.List;
}

<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    你当前选择从供应商——<strong>@(enterprise.Name)</strong> 部件进货
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="glyphicon glyphicon-shopping-cart"></i>进货车</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="CID" class="control-label col-lg-3">部件名称</label>
                <div class="col-lg-6">
                    <input type="text" id="CID" class="form-control" autocomplete="off" />
                </div>
                
            </div>
            <div class="form-group">
                <label for="Price" class="control-label col-lg-3">单价</label>
                <div class="col-lg-6">
                    <input type="text" id="Price" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Number" class="control-label col-lg-3">数量</label>
                <div class="col-lg-6">
                    <input type="text" id="Number" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button type="button" class="btn btn-success" id="Add"><i class="glyphicon glyphicon-plus"></i>加入进货清单</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="panel panel-success">
    <div class="panel panel-heading">
        <h3 class="panel-title">进货清单</h3>
    </div>
    <div class="panel-body">
        <form action="/Stock/Add" method="post" class="form-horizontal">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>部件</th>
                            <th>价格（单价）</th>
                            <th>数量</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                   
                </table>
                <input type="text" name="EID" value="@(enterprise.ID)" style="display:none" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-primary" style="float:right;margin-right:20px"><i class="glyphicon glyphicon-floppy-open"></i> 提交订单</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {

        var i = 1;
        var copy=$("table tr:last-child").html()
        //$("#Add").click(function () {
        //    var $tr = "<tr id='" + i + "'>" + $("table tr:last-child").html() + "</tr>";
        //    $("table").append($tr);
        //    i++;
        //});

        $("#Add").click(function () {
            var CID = $("#CID").val();
            var Price = $("#Price").val();
            var Number = $("#Number").val();
            var $str = "<tr><td><input type='text' name='CID' class='form-control' value='" + CID + "'></td><td><input type='text' name='Price' class='form-control' value='" + Price + "'/></td><td><input type='text' name='Number' class='form-control' value='" + Number + "'/></td></tr>";
            $("tbody").append($str);
        })
        $("#CID").AutoComplete({
            'data': "/Stock/Gain",
            'width': 'auto',
            'itemHeight':50,
            'ajaxDataType': 'json',
            'onerror': function (msg) { alert(msg); },
        });
    })
</script>