
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<a href="/Enterprise/Index?Business=@((int)Business.销售商)">经销商</a></p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-cog"></i>&nbsp;<a href="/Enterprise/Index?Business=@((int)Business.供应商)">供应商</a></p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-gift"></i>&nbsp;<a href="">经销商订货</a></p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-log-in"></i>&nbsp;<a href="">部件进货</a></p>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-wrench"></i>&nbsp;<a href="">部件型号</a></p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-hdd"></i>&nbsp;<a href="">库存</a></p>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-plane"></i>&nbsp;<a href="">产品型号</a> </p>
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-plane"></i>&nbsp;<a href="/express">快递公司</a> </p>
        </blockquote>
    </div>
</div>